<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <h2>Artigos</h2>
        <hr>
        <a href="/admin/articles/new" class="btn btn-success">Criar novo artigo</a>
        <br>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Category</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach(article => { %>
                <tr>
                    <th><%= article.id %></th>
                    <th><%= article.title %></th>
                    <th><%= article.slug %></th>
                    <th><%= article.category.title %></th>
                    <th>
                        <a href="/admin/articles/edit/<%= article.id%>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value=<%=article.id %>>
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<script>
    function confirmDelete(e, form){
        e.preventDefault();
        let decision = confirm('Você quer realmente deletar o artigo?');
        if(decision){
            form.submit();
        }
    }
</script>
<%- include('../../partials/footer.ejs') %>
