<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>
            <div class="card-body">
            <form action="/articles/save" method="POST">
                <input type="text" class="form-control" name="title" placeholder="Defina o título do artigo">
                <br>
                <textarea name="body" id="article-body" class="form-control" placeholder="Escreva o artigo aqui"></textarea>
                <br>
                <select name="category" class="form-control">
                    <% categories.forEach( category => { %>
                        <option value=<%= category.id %>><%= category.title %></option>
                    <% }) %>
                </select>
                <br>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article-body",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>