<%- include('../../partials/head.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <% result.articles.rows.forEach( article => { %>
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-primary">Ler artigo</a>
            </div>
            <br>
        <% }) %> 

        <div class="row">

            <div class="col col-12">
                <% if(result.page > 1){ %>
                    <a href="/articles/page/<%= parseInt(result.page) -1 %>"style="float:left" class="btn btn-success">Prev</a>
                <% }else if(result.page == 1){ %>
                    <a href="/" style="float:left" class="btn btn-success">Prev</a>
                <%}%>
                </div>
            <div class="col col-12">
                <% if(result.next == true){ %>
                <a href="/articles/page/<%= parseInt(result.page) + 1 %>"style="float:right" class="btn btn-success">Next</a>
                <%}%>
            </div>
            <br>
        </div>

        <br> 
    </div>
</body>
<%- include('../../partials/footer.ejs') %>