<%- include('partials/head.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">This is a simple blog, made by me, a rookie developer, while I was studying for a bigger project. One of my first contacts with the server-side development.</p>
        <hr class="my-4">
        <p>I wasn't focusing on the front-end part and I know it's ugly for now. Anyway, I made the complete CRUD for this blog and I hope I can do the authentication too.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    <div class="container">
        <% articles.forEach( article => { %>
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-primary">Ler artigo</a>
            </div>
            <br>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <a href="/articles/page/1" style="float:right" class="btn btn-success">Next</a>
            </div>

            <br>

        </div>

        <br> 
    </div>
</body>
<%- include('partials/footer.ejs') %>